/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("./assets/banking-building-business-finance-management-low-poly-wireframe-illustration-isolated-background-free-vector.webp");
    height: 900px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
