<!-- <div class="text-center ms-5 p-3 " style="color:white ;"><h4>{{aim}}</h4></div> -->
<h1 style="text-align: center; color: white;">Registration Form</h1><br>
<form (ngSubmit)="register()">
    <div class="container " style="width: 400px;height:400px;">
        <div class="container " id="n1" style="background-color:white ;"><br>
            <input name="username" type="text" id="usern" placeholder="enter your name" [(ngModel)]="username"  class="form-control" style="text-align:center ;"><br>
            <input name="acnum" type="text" id="acno" placeholder="enter your acnumber" [(ngModel)]="acno"  class="form-control" style="text-align:center ;"><br>
            <input name="psw" type="text" id="psw" placeholder="Password"   [(ngModel)]="psw"  class="form-control "style="text-align:center ;"><br>
    
            <button type="submit" (click)="register()" id="btn" class="btn btn-success">REGISTER</button><br><br>
            <!-- <a href="" style="text-decoration: none; color:white;margin-left: 50px;font-weight: bolder;" routerLink="register">Don't have an account ? <span style="color: red;">register</span></a> -->
        </div>
    </div>

</form>  
